aside{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 25px;
    .logo{
        margin-bottom: 25px;
        a{
            font-size: 30px;
            color: #000;
            
        }
    }
    .description{
        font-size: 18px;
        line-height: 1.7;
        color: #999;
        margin-bottom: 25px;
    }
    .menu{
        ul{
            li{
                a{
                    display: block;
                    font-weight: 600;
                    color: #333;
                    cursor: pointer;
                    &:hover{
                        color: #0099e5;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px){
    aside{
        width: 320px;
        min-width: 320px;
        max-width: 320px;
        height: 100%;
        border-bottom: 0;
        border-right: 1px solid #ccc;
    }
}